@charset "UTF-8";

/*
    em HTML é id   = em CSS é #  ( só pode 1 elemento) 
    em HTML é class = em CSS é  . ( pode vários elementos)
*/

body {
    background-color: rgb(205, 255, 203);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color:rgb(4, 109, 0);
}

h1#principal {
    text-align: center;
    background-color: green;
    color: white;
}

h2 {
    color: rgb(73, 109, 71) ;
}

.basico{
    color: green;
}

.intermediario{
    color: yellow;
}

.avancado{
    color: red;
}

.destaque{
    background-color: yellowgreen;
}